* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.side-bar {
  width: 450px;
  height: 100vh;
  background: radial-gradient(
      12.04% 28.41% at 52.64% 24.47%,
      rgba(78, 26, 69, 0.2) 0%,
      rgba(69, 20, 43, 0.2) 14.29%,
      rgba(69, 20, 43, 0.2) 28.57%,
      rgba(61, 14, 18, 0.2) 42.86%,
      rgba(61, 13, 15, 0.2) 57.14%,
      rgba(61, 13, 15, 0.2) 71.43%,
      rgba(61, 13, 15, 0.2) 85.71%,
      rgba(60, 13, 13, 0.2) 100%
    ),
    linear-gradient(
      169deg,
      rgba(4, 31, 27, 0.98) 14.76%,
      #380c4a 25.62%,
      #3b0e46 29.25%,
      #3d0f42 33.37%,
      #441436 40.15%,
      #33254e 46.18%,
      #2b2d59 52.47%,
      #292654 57.59%,
      #271f4f 62.33%,
      #240d37 74.06%,
      #22052d 88.22%,
      #22052d 125.39%,
      #22052d 154.65%,
      #22052d 154.67%
    );
}
